
<h1>Продукты</h1>

<p style="color: black;">name: {{ products_detail.product_name }}</p>

<p> {{ products_detail.price }}</p>
<p> {{ products_detail.phone }}</p>
<p> {{ products_detail.description }}</p>
<p> {{ products_detail.product_type }}</p>
<p> {{ products_detail.category }}</p>


{% if products_detail.product_image %}
   <p><img src="{{ product_detail.product_image.url }}"></p>
{% else %}
   <p>NO IMAGE</p>
{%andif%}

<button><a href="{% url 'product_update' products_detail.pk  %}">Update</a></button>
<button><a href="{% url 'product_delete' products_detail.pk  %}">Delete</a></button>

